<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Login
    </title>

</head>

<body id="session-page">
    <div align="center">
        <form class="form-signin" action="../boards/dashboard.html">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal form-header">
                    Log in to your account
                </h1>
            </div>
            <br>
            <div class="form-label-group">
                <input class="form-control" type="text" id="email" name="email" placeholder="Enter email" required />
            </div>
            <br>
            <div class="form-label-group">
                <input class="form-control" type="password" id="password" name="password" placeholder="Enter password" required />
            </div>
            <br>
            <input class="btn btn-lg btn-primary btn-block" id="sign-in-btn" type="submit" value="Sign in" />
            <br>
            <br>
            <a href="../signup/signup.html" id="sign-up-link">Sign up for an account here</a>
            <br>
            <br>
            <a href="../../index.html" id="sign-up-link">Go Home</a>
        </form>
    </div>
</body>

</html>