<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Show Task Details
    </title>
</head>

<body>
    <div class="main" align="center">
        <table border="1">
            <h1>Issue Title</h1>
            <a href="../boards/dashboard.html">Back</a>

            <tr>
                <td>
                    <h3>Issue type</h3>
                </td>

                <td>
                    <p>Type of Issue</p>
                </td>
            </tr>

            <tr>
                <td>
                    <h3>Priority</h3>
                </td>
                <td>
                    <p>Highest</p>
                </td>
            </tr>

            <tr>
                <td>
                    <h3>Story points</h3>
                </td>
                <td>
                    <p>14.5</p>
                </td>
            </tr>

            <tr>
                <td>
                    <h3>Sprint</h3>
                </td>
                <td>
                    <p>Group A</p>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <center>
                        <a class="btn btn-primary my-btn" href="./edit.html">Edit</a>
                    </center>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <form action="../boards/dashboard.html">
                        <center>
                            <input class="btn btn-danger my-btn" type="submit" value="Delete" />
                        </center>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>