<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Ushukla">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="height: 100%; margin-top: 0; margin-bottom: 0;">
    <div class="main-container">
        <div class="left-most-container">
            <div class="inner-top">
                <ul style="list-style-type: none;">

                    <li><i class="fa fa-gg" aria-hidden="true"></i></li>

                    <br>
                    <li><i class="fa fa-search" aria-hidden="true"></i></li>
                    <br>
                    <li><i class="fa fa-plus" aria-hidden="true"></i> </li>
                </ul>

            </div>

            <div class="inner-bottom">
                <ul style="list-style-type: none;">
                    <li>
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </li>
                    <br>
                    <li>
                        <i class="fa fa-user-circle fa-plus fa-plus" aria-hidden="true"></i>
                    </li>
                </ul>

            </div>
        </div>
        <div class="container-item-list">
            <div class="projectname-div">
                <ul style="list-style-type: none;">
                    <li>
                        <i class="fa fa-user-circle fa-plus fa-2x" aria-hidden="true"></i>
                        <span> Team in Space</span>
                    </li>
                </ul>
            </div>
            <br>
            <div class="listitems-div">
                <ul style="list-style-type: none;">
                    <li>
                        <i class="fa fa-align-justify" aria-hidden="true"></i>
                        <a href="#">Backlog</a>
                    </li>
                    <br>
                    <li>
                        <i class="fa fa-desktop" aria-hidden="true"></i>
                        <a href="#">Board</a>
                    </li>
                    <br>
                    <li>
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                        <a href="../reports/report.html">Report</a>
                    </li>

                    <br>

                    <li>
                        <i class="fa fa-database" aria-hidden="true"></i>
                        <a href="https://github.com/nevilparmar11/Project-Management-System">Repository</a>
                    </li>

                    <br>
                    <li>
                        <i class="fa fa-files-o" aria-hidden="true"></i>
                        <a href="../issues/new.html">New Task/Issue</a>
                    </li>

                    <br>
                    <li>
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                        <a href="../settings/settings.html">Settings</a>
                    </li>

                    <br>
                    <li>
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        <a href="../users/userdetails.htm">My Profile</a>
                    </li>
                    <br>

                    <li>
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <a href="../login/login.html">Logout</a>
                    </li>
                    <br>


                </ul>
            </div>
        </div>
        <div class="container-board-items">

            <header>
                <div class="container-b-head">
                    <section>
                        <span> <h2>BOARD</h2></span>
                        <span class="relese-button-top-right" style="float:
                                right; margin-right: 3%;">
                                <form
                                    action="https://github.com/nevilparmar11/Project-Management-System">
                                    <input type="submit" value="Github Repo" />
                                </form>
                            </span>

                    </section>
                </div>

                <br>
                <div class="search-dropdown">
                    <section id="search">
                        <input id="search-input" class="form-control
                                input-lg" placeholder="Search" autocomplete="off">
                        <select name="quickfilter" id="quickfilter">
                                <option value="Qick Filter">Qick Filter</option>
                                <option value="Team">Team</option>
                                <option value="User story">User story</option>
                                <option value="Status">Status</option>
                            </select>

                    </section>

                </div>
            </header>
            <br>
            <div class="card-containers">
                <div class="levels">
                    <span class="leveless">TO DO</span>
                    <div class="todo-item">
                        <section>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span style="background-color: orange;
                                    box-sizing: content-box; border-radius: 7px;
                                    align-content: center;"> Space traval
                                    partner </span>
                            <br>
                            <br>
                            <i class="fa fa-bookmark-o" aria-hidden="true" style="color: orangered;"></i>
                            <i class="fa fa-arrows-alt" aria-hidden="true" style="color: brown;"></i>
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true" style="color:gray;"></i>
                            <span style="background-color: white; float:
                                    right;">TS-123</span>
                            <i class="fa fa-user-o" aria-hidden="true" style="float: right;"></i>

                        </section>



                    </div>
                    <div class="todo-item">
                        <section>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span style="background-color: orange;
                                    box-sizing: content-box; border-radius: 7px;
                                    align-content: center;"> Space traval
                                    partner </span>
                            <br>
                            <br>
                            <i class="fa fa-bookmark-o" aria-hidden="true" style="color: orangered;"></i>
                            <i class="fa fa-arrows-alt" aria-hidden="true" style="color: brown;"></i>
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true" style="color:gray;"></i>
                            <span style="background-color: white; float:
                                    right;">TS-124</span>
                            <i class="fa fa-user-o" aria-hidden="true" style="float: right;"></i>
                        </section>

                    </div>
                    <div class="todo-item">
                        <section>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span style="background-color: orange;
                                    box-sizing: content-box; border-radius: 7px;
                                    align-content: center;"> Space traval
                                    partner </span>
                            <br>
                            <br>
                            <i class="fa fa-bookmark-o" aria-hidden="true" style="color: orangered;"></i>
                            <i class="fa fa-arrows-alt" aria-hidden="true" style="color: brown;"></i>
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true" style="color:gray;"></i>
                            <span style="background-color: white; float:
                                    right;">TS-125</span>
                            <i class="fa fa-user-o" aria-hidden="true" style="float: right;"></i>
                        </section>

                    </div>
                    <div class="todo-item">
                        <section>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span style="background-color: orange;
                                    box-sizing: content-box; border-radius: 7px;
                                    align-content: center;"> Space traval
                                    partner </span>
                            <br>
                            <br>
                            <i class="fa fa-bookmark-o" aria-hidden="true" style="color: orangered;"></i>
                            <i class="fa fa-arrows-alt" aria-hidden="true" style="color: brown;"></i>
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true" style="color:gray;"></i>
                            <span style="background-color: white; float:
                                    right;">TS-129</span>
                            <i class="fa fa-user-o" aria-hidden="true" style="float: right;"></i>
                        </section>

                    </div>
                    <div class="todo-item">
                        <section>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span style="background-color: orange;
                                    box-sizing: content-box; border-radius: 7px;
                                    align-content: center;"> Space traval
                                    partner </span>
                            <br>
                            <br>
                            <i class="fa fa-bookmark-o" aria-hidden="true" style="color: orangered;"></i>
                            <i class="fa fa-arrows-alt" aria-hidden="true" style="color: brown;"></i>
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true" style="color:gray;"></i>
                            <span style="background-color: white; float:
                                    right;">TS-113</span>
                            <i class="fa fa-user-o" aria-hidden="true" style="float: right;"></i>
                        </section>

                    </div>
                    <div class="todo-item">
                        <section>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span style="background-color: orange;
                                    box-sizing: content-box; border-radius: 7px;
                                    align-content: center;"> Space traval
                                    partner </span>
                            <br>
                            <br>
                            <i class="fa fa-bookmark-o" aria-hidden="true" style="color: orangered;"></i>
                            <i class="fa fa-arrows-alt" aria-hidden="true" style="color: brown;"></i>
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true" style="color:gray;"></i>
                            <span style="background-color: white; float:
                                    right;">TS-133</span>
                            <i class="fa fa-user-o" aria-hidden="true" style="float: right;"></i>

                        </section>

                    </div>



                </div>

                <div class="levels">
                    <span class="leveless">In-Progress</span>
                    <div class="Inprogress-item">
                        <section>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span style="background-color: rgb(0, 153, 255);
                                    box-sizing: content-box; border-radius: 7px;
                                    align-content: center;"> Space traval
                                    partner </span>
                            <br>
                            <br>
                            <i class="fa fa-check-square-o" aria-hidden="true" style="color: orange;"></i>
                            <i class="fa fa-snowflake-o" aria-hidden="true" style="color: green;"></i>
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true" style="color:gray;"></i>
                            <span style="background-color: white; float:
                                    right;">TS-143</span>
                            <i class="fa fa-user-o" aria-hidden="true" style="float: right;"></i>

                        </section>

                    </div>

                    <div class="Inprogress-item">
                        <section>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span style="background-color: rgb(0, 153, 255);
                                    box-sizing: content-box; border-radius: 7px;
                                    align-content: center;"> Space traval
                                    partner </span>
                            <br>
                            <br>
                            <i class="fa fa-check-square-o" aria-hidden="true" style="color: orange;"></i>
                            <i class="fa fa-snowflake-o" aria-hidden="true" style="color: green;"></i>
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true" style="color:gray;"></i>
                            <span style="background-color: white; float:
                                    right;">TS-134</span>
                            <i class="fa fa-user-o" aria-hidden="true" style="float: right;"></i>

                        </section>

                    </div>


                    <div class="Inprogress-item">
                        <section>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span style="background-color: rgb(0, 153, 255);
                                    box-sizing: content-box; border-radius: 7px;
                                    align-content: center;"> Space traval
                                    partner </span>
                            <br>
                            <br>
                            <i class="fa fa-check-square-o" aria-hidden="true" style="color: orange;"></i>
                            <i class="fa fa-snowflake-o" aria-hidden="true" style="color: green;"></i>
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true" style="color:gray;"></i>
                            <span style="background-color: white; float:
                                    right;">TS-131</span>
                            <i class="fa fa-user-o" aria-hidden="true" style="float: right;"></i>

                        </section>

                    </div>


                    <div class="Inprogress-item">
                        <section>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span style="background-color: rgb(0, 153, 255);
                                    box-sizing: content-box; border-radius: 7px;
                                    align-content: center;"> Space traval
                                    partner </span>
                            <br>
                            <br>
                            <i class="fa fa-check-square-o" aria-hidden="true" style="color: orange;"></i>
                            <i class="fa fa-snowflake-o" aria-hidden="true" style="color: green;"></i>
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true" style="color:gray;"></i>
                            <span style="background-color: white; float:
                                    right;">TS-140</span>
                            <i class="fa fa-user-o" aria-hidden="true" style="float: right;"></i>

                        </section>

                    </div>


                    <div class="Inprogress-item">
                        <section>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span style="background-color: rgb(0, 153, 255);
                                    box-sizing: content-box; border-radius: 7px;
                                    align-content: center;"> Space traval
                                    partner </span>
                            <br>
                            <br>
                            <i class="fa fa-check-square-o" aria-hidden="true" style="color: orange;"></i>
                            <i class="fa fa-snowflake-o" aria-hidden="true" style="color: green;"></i>
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true" style="color:gray;"></i>
                            <span style="background-color: white; float:
                                    right;">TS-130</span>
                            <i class="fa fa-user-o" aria-hidden="true" style="float: right;"></i>

                        </section>

                    </div>



                </div>

                <div class="levels">
                    <span class="leveless">Code Review</span>
                    <div class="codereview-item">
                        <section>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span style="background-color: rgb(158, 104,
                                    211); box-sizing: content-box;
                                    border-radius: 7px; align-content: center;">
                                    Space traval partner </span>
                            <br>
                            <br>
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                            <i class="fa fa-snowflake-o" aria-hidden="true" style="color: green;"></i>
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true" style="color:gray;"></i>
                            <span style="background-color: white; float:
                                    right;">TS-130</span>
                            <i class="fa fa-user-o" aria-hidden="true" style="float: right;"></i>
                        </section>

                    </div>

                    <div class="codereview-item">
                        <section>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span style="background-color: rgb(158, 104,
                                    211); box-sizing: content-box;
                                    border-radius: 7px; align-content: center;">
                                    Space traval partner </span>
                            <br>
                            <br>
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                            <i class="fa fa-snowflake-o" aria-hidden="true" style="color: green;"></i>
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true" style="color:gray;"></i>
                            <span style="background-color: white; float:
                                    right;">TS-130</span>
                            <i class="fa fa-user-o" aria-hidden="true" style="float: right;"></i>

                        </section>

                    </div>

                    <div class="codereview-item">
                        <section>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span style="background-color: rgb(158, 104,
                                    211); box-sizing: content-box;
                                    border-radius: 7px; align-content: center;">
                                    Space traval partner </span>
                            <br>
                            <br>
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                            <i class="fa fa-snowflake-o" aria-hidden="true" style="color: green;"></i>
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true" style="color:gray;"></i>
                            <span style="background-color: white; float:
                                    right;">TS-130</span>
                            <i class="fa fa-user-o" aria-hidden="true" style="float: right;"></i>
                        </section>

                    </div>


                </div>

                <div class="levels">
                    <span class="leveless">In-Testing</span>
                    <div class="intesting-item">
                        <section>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span style="background-color: yellow;
                                    box-sizing: content-box; border-radius: 7px;
                                    align-content: center;"> Space traval
                                    partner </span>
                            <br>
                            <br>
                            <i class="fa fa-search-minus" aria-hidden="true" style="color:rgb(31, 28, 204);"></i>
                            <i class="fa fa-snowflake-o" aria-hidden="true" style="color: green;"></i>
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true" style="color:gray;"></i>
                            <span style="background-color: white; float:
                                    right;">TS-130</span>
                            <i class="fa fa-user-o" aria-hidden="true" style="float: right;"></i>

                        </section>

                    </div>

                    <div class="intesting-item">
                        <section>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span style="background-color: yellow;
                                    box-sizing: content-box; border-radius: 7px;
                                    align-content: center;"> Space traval
                                    partner </span>
                            <br>
                            <br>
                            <i class="fa fa-search-minus" aria-hidden="true" style="color:rgb(31, 28, 204);"></i>
                            <i class="fa fa-snowflake-o" aria-hidden="true" style="color: green;"></i>
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true" style="color:gray;"></i>
                            <span style="background-color: white; float:
                                    right;">TS-130</span>
                            <i class="fa fa-user-o" aria-hidden="true" style="float: right;"></i>

                        </section>

                    </div>

                </div>

                <div class="levels">
                    <span class="leveless">Done</span>
                    <div class="done-item">
                        <section>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span style="background-color: yellowgreen;
                                    box-sizing: content-box; border-radius: 7px;
                                    align-content: center;"> Space traval
                                    partner </span>
                            <br>
                            <br>
                            <i class="fa fa-check-circle" aria-hidden="true" style="color: darkgreen;"></i>
                            <i class="fa fa-snowflake-o" aria-hidden="true" style="color: green;"></i>
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true" style="color:gray;"></i>
                            <span style="background-color: white; float:
                                    right;">TS-130</span>
                            <i class="fa fa-user-o" aria-hidden="true" style="float: right;"></i>


                        </section>

                    </div>
                    <div class="done-item">
                        <section>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span style="background-color: yellowgreen;
                                    box-sizing: content-box; border-radius: 7px;
                                    align-content: center;"> Space traval
                                    partner </span>
                            <br>
                            <br>
                            <i class="fa fa-check-circle" aria-hidden="true" style="color: darkgreen;"></i>
                            <i class="fa fa-snowflake-o" aria-hidden="true" style="color: green;"></i>
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true" style="color:gray;"></i>
                            <span style="background-color: white; float:
                                    right;">TS-130</span>
                            <i class="fa fa-user-o" aria-hidden="true" style="float: right;"></i>

                        </section>

                    </div>
                    <div class="done-item">
                        <section>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span style="background-color: yellowgreen;
                                    box-sizing: content-box; border-radius: 7px;
                                    align-content: center;"> Space traval
                                    partner </span>
                            <br>
                            <br>
                            <i class="fa fa-check-circle" aria-hidden="true" style="color: darkgreen;"></i>
                            <i class="fa fa-snowflake-o" aria-hidden="true" style="color: green;"></i>
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true" style="color:gray;"></i>
                            <span style="background-color: white; float:
                                    right;">TS-130</span>
                            <i class="fa fa-user-o" aria-hidden="true" style="float: right;"></i>

                        </section>

                    </div>
                </div>

            </div>




        </div>
    </div>


</body>

</html>