@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #0a192f;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #0a192f;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #0a192f;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #0a192f;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #0a192f;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #0a192f;
}

a.article,
a.article:hover {
    background: #0a192f !important;
    color: #fff !important;
}

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

.wrapper.collapse .main_container {
    width: (100% - 70px);
    margin-left: 70px;
}

.main-container {
    display: flex;
}

.left-most-container {
    display: flex;
    margin-left: auto;
    width: 10%;
    height: 100%;
    float: left;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(55, 55, 241);
    position: fixed;
}

.inner-top {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    justify-content: space-between;
}

.inner-bottom {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    justify-content: space-between;
}

.container-item-list {
    background-color: lightgray;
    justify-content: center;
    width: 20%;
    height: 100%;
    position: fixed;
    flex-direction: column;
    margin-left: 8%;
}

.container-board-items {
    display: inherit;
    margin-left: 5px;
    width: 100%;
    height: 100%;
    margin-left: 29%;
    justify-content: space-between;
    flex-direction: column;
}

.container-b-head {
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
}

.search-dropdown {
    flex-direction: row;
    position: relative;
    display: inline-block;
}

.search-dropdown select {
    margin-left: 4px;
}

.card-containers {
    margin-top: 5px;
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
}

.levels {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    margin-left: 5px;
}

.leveless {
    justify-self: center;
    background-color: bisque;
    text-shadow: #fff;
    border-style: inset;
    text-align: center;
    margin-bottom: 5px;
}

.todo-item {
    display: flex;
    box-sizing: border-box;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-style: outset;
    padding-left: 5px;
    padding-right: 5px;
    overflow: auto;
}

.Inprogress-item {
    display: flex;
    box-sizing: border-box;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-style: outset;
    padding-left: 5px;
    padding-right: 5px;
    overflow: auto;
}

.codereview-item {
    display: flex;
    box-sizing: border-box;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-style: outset;
    padding-left: 5px;
    padding-right: 5px;
    overflow: auto;
}

.intesting-item {
    display: flex;
    box-sizing: border-box;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-style: outset;
    padding-left: 5px;
    padding-right: 5px;
    overflow: auto;
}

.done-item {
    display: flex;
    box-sizing: border-box;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-style: outset;
    padding-left: 5px;
    padding-right: 5px;
    overflow: auto;
}

.footer {
    margin: 200px 0;
    color: #888;
    text-align: center;
}