<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit Details</title>
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="./main.css">
    <!-- <script>
        $(document).ready(function() {
            $(".hamburger").click(function() {
                $(".wrapper").toggleClass("collapse");
            });
        });
    </script> -->
</head>

<body>

    <div class="wrapper">
        <div class="top_navbar">
            <div class="hamburger">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
            <div class="top_menu">
                <div class="logo">
                    PMS
                </div>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-search"></i></a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-bell"></i>
                        </a>
                    </li>
                    <li>
                        <a href="../users/userdetails.htm">
                            <i class="fa fa-user"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="sidebar">
            <ul>
                <li>
                    <a href="../boards/dashboard.html"><i class="fa fa-align-justify" aria-hidden="true"></i>&nbsp;&nbsp;
                        Backlog</a>
                </li>

                <li>
                    <a href="../boards/dashboard.html"><i class="fa fa-desktop" aria-hidden="true"></i>
                        &nbsp;&nbsp;
                        Board</a>
                </li>

                <li>
                    <a href="../reports/report.html"><i class="fa fa-bar-chart" aria-hidden="true"></i>
                        &nbsp;
                        &nbsp;
                        Report</a>
                </li>

                <li>
                    <a href="https://github.com/nevilparmar11/Project-Management-System" target="__blank"> <i class="fa fa-database" aria-hidden="true"></i> &nbsp; &nbsp; Repository
                    </a>
                </li>

                <li>
                    <a href="../issues/new.html"> <i class="fa fa-files-o" aria-hidden="true"></i>&nbsp; New Task / Issue</a>
                </li>

                <li>

                    <a href="../settings/settings.html"> <i class="fa fa-cogs" aria-hidden="true"></i> &nbsp;&nbsp; Settings</a>
                </li>

                <li>

                    <a href="../users/userdetails.htm"> <i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;&nbsp; My Profile</a>
                </li>

                <li>

                    <a href="../login/login.html">
                        <i class="fa fa-sign-out" aria-hidden="true"></i> &nbsp;&nbsp; Logout
                    </a>
                </li>
                <br>

            </ul>
        </div>
        <center>
            <table>
                <tr>
                    <div style="height: 135px; width: auto;"></div>
                    <td rowspan=7 height="420" width="1000">
                        <h1>Edit Info</h1>
                        <hr>
                        <center>
                            <form action="userdetails.htm" method="GET">
                                <table height="420" width="1000">
                                    <tr>
                                        <td>
                                            First Name
                                        </td>
                                        <td>
                                            <input type="text" value="Nevil">
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Last Name
                                        </td>
                                        <td>
                                            <input type="text" value="Parmar">
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Recovery Email Address
                                        </td>
                                        <td>
                                            <input type="email" value="xyz@gmail.com">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Registered Mobile Number
                                        </td>
                                        <td>
                                            <input type="Number" value="1234567890" size="10">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan=2>
                                            <center>
                                                <div style="height: 50px; width: 70px;">
                                                    <input type="submit" class="flat-button" value="Save">
                                                </div>
                                            </center>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </center>
                    </td>
                </tr>

            </table>
        </center>
</body>

</html>